body {
    background-color: rgb(161, 155, 98);
    font: normal 15px Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* bordas arrendondadas */
    border-radius: 10px;
    /* espaço interno da borda da section */
    padding: 15px;
    /* centralizar caixa ou section */
    margin: auto;
    /* sombra da caixa */ 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.514);
    color: black;
    font: normal 15pt Arial;
    
}

footer {
    color: white;
    margin: auto;
    /* centralizar texto */
    text-align: center;
    font-style: italic;
}

div#txthora {
    padding: 15px;
};