body {
    background-color: rgb(114, 67, 136);
    font: normal 15px Arial;
}
section {
    width: 500px;
    height: 350px;
    /*text-align: center; centralizar informações da sessão*/
    background-color: white;
    /* bordas arrendondadas */
    border-radius: 10px;
    /* espaço interno da borda da section */
    padding: 15px;
    /* centralizar caixa ou section */
    margin: auto;
    /* sombra da caixa */ 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.514);
    
}
header {
    color: white;
    text-align: center;
}
footer {
    color: white;
    margin: auto;
    /* centralizar texto */
    text-align: center;
    font-style: italic;
}

select#flista {
    width: 150px;
}